.weather-search-form-container {
  width: max(900px, 70%);
  background-color: #f2f2f1;

  .weather-search-title {
    text-align: center;
    margin-bottom: 0;
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .weather-search-form-area {

  }
}