button.favorite {
  font-size: 1.5rem;
  padding: 2px 10px;
  &.is-favorite i {
    color: #ffff54;
    -webkit-text-stroke: 1px #000;
  }
  &:hover i {
    color: #ffff54;
    -webkit-text-stroke: 1px white;
  }
}

button.go-to-detail {
  background: none;
  border: none;
  color: #316cf4;
  text-decoration: underline;
  &:hover {
    background-color: white;
  }
}

.title {
  @media (max-width: 450px) {
    font-size: 1.3rem;
  }
}